* {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}/* Thuoocj tính của css3 nên thêm 2 cái -moz-box-sizing: và -wekit-box-sizing: */
body {
	width:1200px;
	margin: 0 auto;
	font-size: 16px;
	background-color: #EEEEEE;
	height: auto;
}

.h1 {
	text-align: center;
}
#img-boxmodel {
	width: 300px;
	height: auto;
}
#box1 {
	background-color: #FFFF00;
	width:300px;
	height: 150px;
	margin: 15px;
	border: 15px solid #fff;
	padding: 25px;
	float: left;
}
#box2 {
	background-color: #00FFFF;
	width:300px;
	height: 150px;
	margin: 15px;
	border: 20px dotted red;
	padding: 25px 30px 10px 25px;
	float: left;
}
#box3 {
	background-color: #00CC00;
	width:300px;
	height:150px;
	margin: 15px;
	border: 20px double yellow;
	padding: 20px 15px 20px 20px;
	float: left;
}
#box4 {
	background-color: #FF9900;
	width: 300px;
	height:150px;
	margin: 15px;
	border: 20px groove green;
	padding: 20px;
	float: left;

}
#box5 {
	background-color: #E0FFFF;
	width:300px;
	height: 150px;
	margin: 15px;
	border : 20px ridge green ;
	padding: 20px;
	float: left;

}
#box6{
	background-color: #347235;
	width: 300px;
	height:150px;
	margin:15px;
	border:20px inset #DCDCDC;
	padding:20px;
	float: left;
}
#box7{
	background-color: red;
	width: 300px;
	height: 150px;
	margin : 15px;
	border : 20px outset #FFD700;
	padding: 20px 15px 15px 20px;
	float: left;
}
#border {
	background-color: gray;
	width: 300px;
	height: 150px;
	border: 5px solid red;
	padding: 10px;
	margin: 15px;
	clear: both;

}